@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Regular"), 
  		 local("Cuprum-Regular"),
       url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"), 
  		 local("Cuprum-Bold"),
       url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"), 
  		 local("Cuprum-Italic"),
       url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold Italic"), 
  		 local("Cuprum-BoldItalic"),
       url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans Regular"), 
  		 local("PTSans-Regular"),
       url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans Bold"), 
  		 local("PTSans-Bold"),
       url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

html, 
body {
	margin: 0px;
	padding: 0px;

	font-size: 13px;
	line-height: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;

	color: #000000;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.button-common {
	display: block;
	padding: 12px 0px;

	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.header-top {
	background-color: #293449;
}

.index-logo {
	float: left;
	width: 220px;
	padding: 9px 0px;

	font-size: 24px;
	text-transform: uppercase;
	text-align: center;

	color: #ffffff;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.header-top
.index-logo:hover {
	background-color: #ca2c37;
}

.header-top
.index-logo:active {
	background-color: #ba2732;
}


.header-top 
.search-form {
	position: relative;

	display: inline-block;
	float: left;
	width: 270px;
	background-color: #b52933; 
}

.header-top 
.search-form
.icon-search {
	position: absolute;
	margin-left: 15px;
	margin-top: 12px;

	font-size: 17px;
	line-height: 18px;

	color: #5d6575;
}

.header-top 
.search-form
input[name="search-q"] {
	width: 205px;
	padding: 12px 0px;
	padding-left: 50px;
	padding-right: 15px;

	font-size: 17px;
	line-height: 18px;

	color: #ffffff;
	background-color: #293449; 
	border: none;
}

.header-top 
.search-form
input[name="search-q"]:hover:not(:focus) {
	color: #ffffff;
	background-color: #212a3a; 
}

.header-top 
.search-form
input[name="search-q"]:focus {
	color: #000000;
	background-color: #ffffff; 
}

.header-top 
.search-form
input[name="search-q"]:focus
.icon-search {
	color: #000000;
}

.header-top 
.shop-control {
	float: right;
	width: 450px;

	font-size: 0px;
	text-align: right;
}

.header-top 
.shop-control
a {
	display: inline-block;
	width: 125px;
	padding: 12px 0px;
	padding-right: 25px;

	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;

	color: #ffffff;
}

.header-top 
.shop-control
.shop-icon {
	padding-right: 10px;
	opacity: 0.3;
}

.header-top 
.shop-control
a:hover {
	background-color: #212a3a;
}

.header-top 
.shop-control
a:hover
.shop-icon {
	opacity: 1.0;
}


.header-top 
.shop-control
a:active {
	background-color: #161d29;
	color: #8b8e94;
}



.header-top 
.shop-control
.shop-order {
	width: 150px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #63a63e;
}

.header-top 
.shop-control
.shop-order:hover {
	background-color: #5fbb2d;
}

.header-top
.shop-control
.shop-order:active {
	background-color: #518534;
}

.header-content {
	padding-bottom: 35px;
	background-color: #f1f5f7;
}

.header-content 
.description {
	float: left;
	width: 270px;
	padding: 45px 0px;
	padding-left: 50px;

	font-style: italic;
	font-size: 16px;
	line-height: 23px;

	color: #ee3643;
}

.header-content 
.contacts {
	float: left;
	width: 270px;
	padding-top: 45px;
	
	text-align: left;
}

.header-content 
.contacts 
.phone {

	padding: 10px 10px;

	font-size: 21px;
	line-height: 18px;

	color: #e9292a;
	border: 3px solid #ffffff;
}

.header-content 
.contacts 
.phone
.icon-phone {
	margin-right: 35px;

	color: #b7bfc8;
}

.header-content 
.contacts 
.address {

	padding-top: 5px; 

	font-size: 14px;
	line-height: 24px;
	text-align: center;

	color: #32425c;
}

.header-content 
.user {
	float: right;
	width: 300px;
	margin-top: 45px;
	
	font-size: 0px;
	text-align: right; 
}

.button-user {
	display: inline-block;

	padding: 15px 25px;
	margin-left: 10px;

	font-size: 21px;
	line-height: 18px;
	text-decoration: none;

	color: #000000;
	background-color: #ffffff;
}

.user
.user-enter {
	padding-top: 13px;
	padding-bottom: 14px;
	padding-left: 15px; 
}

.user
.user-enter
.icon-login {
	padding-right: 10px;
}

.button-user:hover {
	color: #ee3643;
}

.button-user:hover
.icon-login {
	color: #32425c;
}

.button-user:active {
	color: #b2b2b2;
}

.button-user:active
.icon-login {
	color: #b2b2b2;
}

.navigation {
	background-color: #23ac1c;
}

.main-navigation 
ul {
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;

	text-align: center;

	background-color: #32425c;
	box-shadow: 0 5px 0 0 #293449;
}

.main-navigation 
li {
	display: inline-block;
}

.main-navigation 
li 
a {
	display: block;
	padding: 19px 30px;

	font-size: 17px;
	line-height: 17px;
	text-decoration: none;

	color: #ffffff;
}


.main-navigation 
li 
a:hover {
	background-color: #293449;
}

.main-navigation 
li 
a:active {
	opacity: 0.5;
	background-color: #1d2739;
}


.main-content {
	background-color: #ffffff;
}

.index-page {
	margin-top: 60px;
}

.offer-card {
	display: inline-block;
	width: 250px;
	min-height: 73px;
	padding: 25px;
	margin-right: 20px;

	font-size: 14px;
}

.offer-card 
.title {
	font-size: 18px;

	color: #ffffff;
}

.button-offer {
	display: inline-block;
	padding: 10px 24px;

	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.2;
	color: #ffffff;
	background-color: #000000;
}

.offers-row-1 {
	margin-bottom: 20px;

	font-size: 0px;
}

.offers-row-1 .offer-card:nth-child(3n) {
	margin-right: 0px;
}

.offers
.offer-materials {
	background-color: #f6b22d;
}

.offers
.offer-tools {
	background-color: #4aafde;
}

.offers
.offer-mechanisms {
	background-color: #cc79d1;
}

.offers
.offer-discounts {
	background-color: #85d179;
}

.offers
.offer-delivery {
	background-color: #f6b22d;
}

.offers-row-2 {
	margin-bottom: 53px;
}

.offers-row-2 .left-column {
	float: left;
	width: 620px;
	padding: 0px;
	margin: 0px;
}

.offers-row-2 
.rigth-column {
	float: right;
	width: 300px;
}

.slider {
	position: relative;
}

.slider 
.slide-header {
	position: absolute;
	top: 27px;
	left: 26px;

	color: #ffffff;
}

.slider-slide {
	display: none;
	position: relative;
}

.slider 
#slide-1 {
	display: block;
}

.slider-slide 
.slide-header
h2 {
	margin: 0px;
	margin-bottom: 12px;

	font-size: 36px;

	text-transform: uppercase;
}

.slider 
.slide-desc {
	font-size: 18px;
}

.slider 
.button-slide {
	font-size: 68px;
	
	color: #ffffff;
	border: none;
	background-color: transparent;
}

.slider 
.prev-slide {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 100px;
}

.slider 
.next-slide {
	position: absolute;
	top: 0px;
	right: 0px;

	margin-top: 100px;
}

.slider
.button-common {
	position: absolute;
	top: 0px;
	left: 0px;

	margin-top: 200px;
	margin-left: 20px;
}

.rigth-column 
.offer-card {
	margin: 0px;
	margin-bottom: 20px;
}

.rigth-column 
.offer-card:last-child {
	margin-bottom: 0px;
}

.section-header {
	padding: 30px;
	margin-bottom: 20px;

	background-color: #f7f3ec;
}

.section-title {
	font-size: 30px;
	line-height: 30px;

	color: #32425c;
	text-transform: uppercase;
}

.pop-products
.button-common {
	float: right;
	width: 253px;
}

.products-list {
	font-size: 0px;
}

.product-info {
	display: inline-block;
	width: 178px;
	min-height: 316px;
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;

	font-size: 18px;
	text-align: center;

	border: 1px solid #e5e5e5;
}

.product-info
.old-price {
	text-decoration: line-through;
}

.pop-products 
.products-list 
.product-info:nth-child(4n) {
	margin-right: 0px;
}

.pop-producers {
	margin-bottom: 65px;
}

.pop-producers
.button-common {
	float: right;
	width: 253px;
}

.companies-logo {
	margin: 0px;
	font-size: 0px;
}

.companies-logo 
a {
	display: inline-block;
	width: 218px;
	min-height: 143px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;

	text-align: center;

	border: 1px solid #e5e5e5;
}

.companies-logo 
a:nth-child(4n) {
	margin-right: 0px;
}

.services {
	padding-top: 30px;
	background-color: #f2f6f8;
}

.services-header {
	margin-top: 38px;
	margin-bottom: 38px;
}

.side-title {
	font-size: 30px;
	line-height: 24px;
	font-weight: normal;

	color: #000000;
	text-transform: uppercase;
}

.services-content-left {
	float: left;
	width: 240px;
}

.services-menu {
	width: 240px;
	margin: 0px;
	padding: 0px;

	list-style: none;
}

.services-menu 
.button-menu {
	width: 240px;
	padding: 20px;

	font-size: 21px;
	line-height: 30px;

	color: #ffffff;
	background-color: #32425c;
	border: none;
	text-align: left;
}

.services-menu
.button-active {
	color: #32425c;
	background-color: #ffffff;
}

.services-content-right {
	float: right;
	width: 620px;
}

.service-slide {
	display: none;
	min-height: 284px;
	position: relative;
}

#service-slide-1 {
	display: block;
}

.service-slide 
img {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.information {
	margin-top: 80px;
	margin-bottom: 95px;
}

.information-left {
	float: left;
	width: 540px;
}

.about-company
.button-common {
	width: 220px; 
}

.information-right {
	float: right;
	width: 300px;
}

.contacts
.map {
	margin: 40px 0px;
}

.footer-content {
	background-color: #32425c;
	color: #ffffff;
}

.footer-content
.content-row-1 {
	margin-bottom: 35px; 
}

.footer-menu {
	float: right;
	margin: 0px; 
}

.footer-menu 
li {
	display: inline-block;
	margin-top: 20px;
	margin-left: 60px;
}

.footer-menu a {
	color: #ffffff;
	text-decoration: none;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-bottom: 50px;
}

.content-row-2 
.footer-menu 
li {
	margin-top: 0px;
}

.content-row-2 
.footer-menu 
a {
	color: #ffd180;
}

.footer-bottom {
	padding: 40px 0px;
	background-color: #293449;
	color: #ffffff;
}

.footer-bottom
.copyright {
	float: left;
	width: 240px;
	margin-right: 140px;
}

.footer-bottom
.footer-social {
	float: left;
	width: 160px;
}

.social-button {
	color: #ffffff;
}


.footer-bottom
.feedback {
	float: right;
	width: 150px;
}

.footer-bottom
.feedback a {
	text-decoration: none;
	color: #ffd180;
}

.footer-bottom
.developers {
	float: right;
	width: 150px;
}

.footer-bottom
.developers
a {
	text-decoration: none;
	color: #ffd180;
}

/* Catalog */
.shop-control
.basket-full {
	background-color: #ee3643;
}

.header-content
.user
.user-account {
	width: 300px;
	padding-left: 0px; 
	padding-right: 0px;

	text-align: center;
}

.header-content
.user
.user-controls {
	width: 300px;
	padding-left: 18px; 
	padding-right: 0px;

	text-align: left;
}

.breadcrumbs {
	margin: 25px 0px;
}

.breadcrumbs li {
	display: inline-block;
	margin: 0px 10px;
}

.breadcrumbs a {
	text-transform: uppercase;
	text-decoration: none;
}

.page-header {
	padding: 30px;
	margin-bottom: 20px;

	background-color: #f2f6f8;
}

.catalog-content-left {
	float: left;
	width: 220px;
}

.side-header {
	padding: 15px;
	margin-bottom: 20px;

	background-color: #f7f3ec;
}

.side-header 
h2 {
	display: inline-block;
	margin: 0px;

	text-transform: uppercase;
}

.filter-section {
	padding-bottom: 25px;

	border-bottom: 1px solid #e5e5e5;
}

.filter-title {
	text-transform: uppercase;
}

.producers-list {
	padding: 0px;
	margin: 0px;

	list-style: none;
}

.power-list {
	padding: 0px;
	margin: 0px;

	list-style: none;
}

.filter-section:last-child {
	margin-bottom: 70px;

	border: none;
}

.button-filter {
	width: 140px;
	padding: 14px 0px;
	
	text-transform: uppercase;

	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.catalog-content-right {
	float: right;
	width: 700px;
}

.catalog-controls {
	float: right;
}

.button-order {
	padding-left:  35px;
	padding-right: 35px;

	text-transform: uppercase;
	text-decoration: none;

	color: #ee3643;
}

.catalog-content-right
.products-list 
.product-info:nth-child(3n) {
	margin-right: 0px;
}

.paginator {
	margin-bottom: 60px;
	margin-top: 50px;
}

.paginator a {
	padding: 12px;

	border: 1px solid #e5e5e5;
	text-decoration: none;
}

.post-description {
	padding: 65px 0px;

	background-color: #f2f6f8;
}